@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
body {
  background-color: rgb(5, 5, 5);
}
